@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.main{
    display: flex;
    flex: wrap;
    padding: 2em;
    height: 100vh;
    background-color:lightgray;
    overflow: hidden;
}

.cam-area{
    border: none;
    border-radius: 20px;
    padding: 0px;
    font-family: sans-serif;
    margin-right: 50px;
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    background-color:lightgray;
}
.cam-area .btn{
    padding: 5px 15px 5px 15px;
    font-size: 16px;
    font-weight: 500;
    border: 2px solid #fff;
    outline: none;
    background: none;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}
.cam-area .btn:hover{
    background-color: #fff;
    border: 2px solid lightgray;
    color: lightgray;
    /*animation: pulse 1s;*/
}
@keyframes pulse {
    0% { box-shadow: 0 0 0 0 var(--hover); }
}

.edit-area{
    border: none;
    border-radius: 20px;
    padding: 20px;
    font-family: sans-serif;
    margin-left: -30px;
    margin-right: 5px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    background-color:gray;
}

.edit-area .btn{
    padding: 5px 15px;
    font-size: 16px;
    font-weight: 500;
    border: 2px solid #fff;
    outline: none;
    background: none;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}
.edit-area .btn:hover{
    background-color: #fff;
    border: 2px solid gray;
    color: gray;
    /*animation: pulse 1s;*/
}
@keyframes pulse {
    0% { box-shadow: 0 0 0 0 var(--hover); }
}

.mesh-area{
    width: 10%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.adjust-area{
    width: 30%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.canvas{
    background-color: black;
    width: 50%;
    align-items: center;
    justify-content: center;
}
.canvas canvas{
    background-color: black;
    width: 100%;
}

#gui{
    margin-top: 10px;
    background-color: gray !important;
    position: relative;
    left: -20px;
    margin-right: 5px;
    width: 50px;
    height: 80%;
    font-family: "Poppins", sans-serif;
    z-index: 0;
    overflow-y: scroll;
}
